*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body{
    height: 100%; 
}

:root{
    --bce-header-jumbo: #3161e0;
    --bce-jbc: #ee82ee;
    --bce-primary: #8ea1e1;
    --bce-primary-variant: #ffc0cb;
    --bce-darkbg: #f6f6f6;
    --bce-tech: #228b22;
    --bce-darker: #23272a;
    --bce-secondary-variant: #f08080;
    --bce-secondary: #20b2aa;
    --bce-foot-bg: #7fffd4;
}


.bg-darker{
    background-color: var(--bce-darker);
}


/* .debug,*{
    border: 1px dashed black;

    .bg-primary{
        background-color: var(--bce-primary);
    }
    
    .bg-primary-variant{
        background-color: var(--bce-primary-variant);
    }
    
    .bg-dark{
        background-color: var(--bce-darkbg);
    }
    
    .bg-tech{
        background-color: var(--bce-tech);
    }
    
    .bg-secondary{
        background-color: var(--bce-secondary);
    }
    
    .bg-secondary-variant{
        background-color: var(--bce-secondary-variant);
    }
    
    .bg-footer{
        background-color: var(--bce-foot-bg);
    }
    .primary-db{
        background-color: var(--bce-primary);
    }
    
    .primary-variant-db{
        background-color: var(--bce-primary-variant);
    }
} */


a{
    text-decoration: none;
    
}
a:link {
    color: blue;
  }
  
  a:visited {
    color: purple;
  }
  
  a:hover {
    color: green;
  }
  
  a:active {
    color: red;
  }
  
 
  a:link, a:visited {
    text-decoration: none;
  }

.w-100{
    width: 100%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}


.w-30{
    width: 30%;
}


.w-17{
    width: 17%;
}

.h-80{
    height: 80%;
}

.h-90{
    height: 90%;
}

.h-70{
    height: 70%;
}

.fz-2_8{
    font-size: 2.8rem;
}

.fz-1{
    font-size: 1rem;
}

.fz-2_4{
    font-size: 2.4rem;
}
.fz-2{
    font-size: 1.8rem;
}
.mr_ml_auto{
    margin-left: auto;
    margin-right: auto;
}
.mb-1{
    margin-bottom: 1rem;
}

.lh-1_3{
    line-height: 1.3rem;
}

.ta-j{
    text-align: justify;
}

.border-bottom{
    border-bottom: 1px solid var(--bce-primary);
}

a{
    text-decoration: none;
}

.color-primary{
    color: var(--bce-primary);
}
/* utilities */


.container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


header{
    min-height: 70px;
    display: flex;
    background-color: var(--bce-header-jumbo);
    justify-content: center;
    ul,li{
        display: inline-block;
        
    
    }
}

.header-content{
    background-color: var(--bce-header-content);
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    
}

.btn-login{
    background-color: white;
    color: black;
    padding: .60rem 1rem;
    border-radius: 1rem;

}

.jumbo-bg{
    background-color: var(--bce-header-jumbo);
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.jumbotron{
    /* background-color: var(--bce-jbc); */
    color: white;
    height: 80%;
    /* width: 80%; */
    text-align: center;
    padding: 2rem;
    padding-bottom: 15rem;

    .jumbo-text{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .btn-cta-download{
        background-color: white;
        padding: .7rem 1.5rem;
        border-radius: 1rem;
        margin-right: 1rem;
        border: none;
    }

    .btn-cta-open{
        background-color: rgb(13, 9, 9);
        color: white;
        padding: .7rem 1.5rem;
        border-radius: 1rem;
        border: none;
    }
}



.icf-section{
    /* min-height: 500px; */
    display: flex;
}

.tech-section{
    /* min-height: 990px; */
    display: flex;
    text-align: center;
    p{
        line-height: 1.3rem;
        font-size: .8rem;
        margin-top: 1rem;
        }
    .tech-cta{
        background-image: url(../img/stars.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        padding: 2rem;
    }
    .btn-cta-tech{
        background-color: var(--bce-btn-down);
        color: white;
        padding: .7rem 1.5rem;
        border-radius: 1rem;
        border: none;
        font-size: 1rem;
    }
}


footer{
    min-height: 430px;
    display: flex;
    
}

.list-style{
    color: white;
    list-style-type: none;
    line-height: 2rem;
}
.footer{
    min-height: 108px;
    display: flex;}

.footer-section{
    width: 70%;
    display: flex;
    align-items: flex-end;
}

.bg-footer{
    display: flex;
    align-items: start;
    justify-content: space-between;
}


.btn-foot-style{

    background-color: var(--bce-primary);
    color: white;
    padding: .60rem 1rem;
    border-radius: 1rem;;

}

